.colombian-national-soccer-team-icon,
.rectangle-shape-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.colombian-national-soccer-team-icon {
  display: none;
}
.rectangle-shape-icon {
  z-index: 1;
}
.contact-us {
  flex: 1;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 124%;
  font-weight: 200;
  z-index: 1;
}
.contact-us-frame {
  width: 246px;
  flex-direction: row;
  padding: 0 12px;
  box-sizing: border-box;
}
.colombian-national-soccer-team-parent,
.contact-us-frame,
.us {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.colombian-national-soccer-team-parent {
  flex: 1;
  flex-direction: column;
  padding: 14px 0 497px;
  gap: 32px;
  background-image: url(./public/colombiannationalsoccerteamconcept-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: 25px;
  color: #000;
  font-family: var(--font-texturina);
}
.us {
  width: 100%;
  height: 640px;
  position: relative;
  background-color: #ddcaca;
  overflow: hidden;
  flex-direction: row;
}


.equip {
  background-color: #dccaca;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.equip .overlap-group-wrapper {
  background-color: #dccaca;
  width: 360px;
  height: 640px;
}

.equip .overlap-group {
  position: relative;
  height: 640px;
  background-image: url(./img/colombian-national-soccer-team-concept-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.equip .rectangle {
  position: absolute;
  width: 360px;
  height: 85px;
  top: 14px;
  left: 0;
}

.equip .text-wrapper {
  position: absolute;
  width: 222px;
  height: 34px;
  top: 122px;
  left: 12px;
  font-family: "Texturina", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 25px;
  letter-spacing: -0.25px;
  line-height: 31px;
  white-space: nowrap;
}



.android-small {
  background-color: #dccaca;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.android-small .overlap-group-wrapper {
  background-color: #dccaca;
  width: 360px;
  height: 640px;
}

.android-small .overlap-group {
  position: relative;
  height: 640px;
  background-image: url(./img/colombian-national-soccer-team-concept-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.android-small .overlap {
  position: absolute;
  width: 330px;
  height: 54px;
  top: 253px;
  left: 17px;
  background-image: url(./img/rectangle-5.png);
  background-size: cover;
  background-position: 50% 50%;
}

.android-small .text-wrapper {
  position: absolute;
  width: 150px;
  top: 10px;
  left: 73px;
  font-family: "Literata", Helvetica;
  font-weight: 400;
  color: #f1f1f1;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .rectangle {
  position: absolute;
  width: 360px;
  height: 85px;
  top: 14px;
  left: 0;
}

.android-small .icon-user-profile-wrapper {
  position: absolute;
  width: 47px;
  height: 48px;
  top: 116px;
  left: 296px;
  background-color: #8b7f39d1;
  border-radius: 23.5px/24px;
}

.android-small .icon-user-profile {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 9px;
  left: 9px;
}

.android-small .div {
  position: absolute;
  width: 330px;
  height: 53px;
  top: 440px;
  left: 13px;
  background-image: url(./img/rectangle-3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.android-small .text-wrapper-2 {
  position: absolute;
  width: 210px;
  top: 8px;
  left: 77px;
  font-family: "Literata", Helvetica;
  font-weight: 400;
  color: #f1f1f1;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .icon-badminton {
  position: absolute;
  width: 31px;
  height: 26px;
  top: 13px;
  left: 32px;
}

.android-small .overlap-2 {
  position: absolute;
  width: 330px;
  height: 53px;
  top: 346px;
  left: 13px;
  background-image: url(./img/rectangle-3.png);
  background-size: cover;
  background-position: 50% 50%;
}

.android-small .text-wrapper-3 {
  position: absolute;
  width: 69px;
  top: 10px;
  left: 77px;
  font-family: "Literata", Helvetica;
  font-weight: 400;
  color: #f1f1f1;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .icon-register {
  position: absolute;
  width: 31px;
  height: 26px;
  top: 14px;
  left: 32px;
}

.android-small .div-wrapper {
  position: absolute;
  width: 330px;
  height: 54px;
  top: 532px;
  left: 17px;
  background-image: url(./img/rectangle-5.png);
  background-size: cover;
  background-position: 50% 50%;
}

.android-small .text-wrapper-4 {
  position: absolute;
  width: 132px;
  top: 10px;
  left: 73px;
  font-family: "Literata", Helvetica;
  font-weight: 400;
  color: #f1f1f1;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.android-small .text-wrapper-5 {
  position: absolute;
  width: 222px;
  height: 34px;
  top: 122px;
  left: 12px;
  font-family: "Source Serif Pro", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #000000;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 31px;
  white-space: nowrap;
}

.reform {
  background-color: #dccaca;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.reform .overlap-group-wrapper {
  background-color: #dccaca;
  width: 360px;
  height: 640px;
}

.reform .overlap-group {
  position: relative;
  height: 640px;
  background-image: url(./img/colombian-national-soccer-team-concept-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.reform .rectangle {
  position: absolute;
  width: 360px;
  height: 85px;
  top: 14px;
  left: 0;
}

.reform .text-wrapper {
  position: absolute;
  width: 222px;
  height: 34px;
  top: 122px;
  left: 12px;
  font-family: "Texturina", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 25px;
  letter-spacing: -0.25px;
  line-height: 31px;
  white-space: nowrap;
}


.entry {
  background-color: #dccaca;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  top: 200px;
}

.entry .overlap-group-wrapper {
  background-color: #dccaca;
  width: 360px;
  height: 640px;
  top: 200px;
}

.entry .overlap-group {
  position: relative;
  height: 640px;
  background-image: url(./img/colombian-national-soccer-team-concept-1.png);
  background-size: cover;
  background-position: 50% 50%;
  
}

.entry .rectangle {
  position: absolute;
  width: 360px;
  height: 85px;
  top: 14px;
  left: 0;
  
}

.entry .text-wrapper {
  position: absolute;
  width: 222px;
  height: 34px;
  top: 122px;
  left: 12px;
  font-family: "Texturina", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 25px;
  letter-spacing: -0.25px;
  line-height: 31px;
  white-space: nowrap;
  top: 90px;
}
